Repository GeoFS-Extensions/autoland, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolas377, @Guy-Adler, @slap-py

started sorting options
  build/background.js
  build/changelog/changelog.html
  build/manifest.json
  build/scripts/autopilot_pp_infra/dom_communicator.js
  declaration.md
  source/background.ts
  source/changelog/changelog.html
  source/manifest.json
  source/scripts/autopilot_pp_infra/dom_communicator.ts
Owners: @nicolas377, @Guy-Adler, @slap-py

🤖: Update scripts and nav data
  build/background.js
  build/data/airports.json
  build/scripts/autopilot_pp.js
  build/scripts/fmc.js
  build/scripts/keyboard_mapping.js
  build/scripts/spoilers_arming.js
  data/navaids.csv
  source/data/airports.json
  source/scripts/autopilot_pp.js
  source/scripts/fmc.js
  source/scripts/keyboard_mapping.js
  source/scripts/spoilers_arming.js
Owners: @nicolas377, @Guy-Adler

documentation updates
  .github/workflows/publish.yml
  CONTRIBUTING.md
Owners: @nicolas377, @slap-py

🤖: Update scripts and nav data
  build/data/airports.json
  source/data/airports.json
Owners: @nicolas377, @Guy-Adler

hide a todo in a comment
  CONTRIBUTING.md
Owners: @slap-py

made scripts load again
  build/background.js
  source/background.ts
Owners: @nicolas377, @Guy-Adler

🤖: Update scripts and nav data
  build/data/airports.json
  source/data/airports.json
Owners: @nicolas377, @Guy-Adler

🤖: Update scripts and nav data
  build/data/airports.json
  source/data/airports.json
Owners: @nicolas377, @Guy-Adler

🤖: Update scripts and nav data
  build/data/airports.json
  source/data/airports.json
Owners: @nicolas377, @Guy-Adler

add prettier badge
  readme.md
Owners: @slap-py

readme.md is written in html now
  readme.md
Owners: @slap-py

Rename readme.md to README.md
  README.md
Owners: @slap-py

Update supported versions in security policy
  SECURITY.md
Owners: @slap-py

🤖: Update packaging
  package-lock.json
  package.json
Owners: @nicolas377, @Guy-Adler

🤖: Update scripts and nav data
  build/data/airports.json
  source/data/airports.json
Owners: @nicolas377, @Guy-Adler

add support for the geofs beta version
  build/background.js
  build/manifest.json
  source/background.ts
  source/manifest.json
Owners: @nicolas377, @Guy-Adler

remove keyboard mapping infrastructure
  CONTRIBUTING.md
  build/background.js
  build/scripts/keyboard_mapping.js
  build/ui/oninstall/oninstall.html
  build/ui/options/options.css
  build/ui/options/options.html
  build/ui/popup/popup.html
  build/ui/popup/popup.js
  source/background.ts
  source/scripts/keyboard_mapping.js
  source/ui/oninstall/oninstall.html
  source/ui/options/options.css
  source/ui/options/options.html
  source/ui/popup/popup.html
  source/ui/popup/popup.ts
Owners: @slap-py, @nicolas377, @Guy-Adler

🤖: Update scripts and nav data
  build/data/airports.json
  source/data/airports.json
Owners: @nicolas377, @Guy-Adler

remove keyboard mapping infrastructure
  CONTRIBUTING.md
  build/background.js
  build/scripts/keyboard_mapping.js
  build/ui/oninstall/oninstall.html
  build/ui/options/options.css
  build/ui/options/options.html
  build/ui/popup/popup.html
  build/ui/popup/popup.js
  source/background.ts
  source/scripts/keyboard_mapping.js
  source/ui/oninstall/oninstall.html
  source/ui/options/options.css
  source/ui/options/options.html
  source/ui/popup/popup.html
  source/ui/popup/popup.ts
Owners: @slap-py, @nicolas377, @Guy-Adler

.github/CODEOWNERS:

# default owners
* @nicolas377 @Guy-Adler

# Documentation belongs to slappy
.github @slap-py
*.md @slap-py

# exception being renovate.json
.github/renovate.json @nicolas377 @Guy-Adler

# nicolas owns actions
.github/workflows/ @nicolas377
build.js @nicolas377

# guy owns the types
geofs_types.d.ts @Guy-Adler
